body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1681545046919-fc82a1436265?auto=format&fit=crop&q=80&w=1544&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: top center;
    background-size: cover;
    /* opacity: 1; */
    /* background-repeat: no-repeat; */
    /* padding: 10px 0; */
    font-family: sans-serif;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    color: rgb(83, 0, 0);
    stroke: black;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkcyan;
}